html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background-color: #FFFDF7;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.8rem;
    
}

#barra_notificaciones{
    background-color: #99D6EA;
    text-align: center;
    color: black;
    font-weight: bold;
    padding: 4px;
}

#nav_menu{
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: relative;
}

#logo{
    position: absolute;
    top: 1rem;
    left: 15rem;
}

#logo img{
    height: 7rem;
    width: 7rem;   
}

.menu{
    list-style:none;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 2.5rem;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.menu li{
    display: inline-block;
    padding: 0.8rem 1.2rem;
    position: relative;
}

.submenu{
    position: absolute;
    display: none;
    width: 15rem;
    top: 3rem;
}

.submenu li{
    display: block;
    background-color: #FFFDF7;
}

.menu li:hover .submenu{
    display: block;
}

a{
    color: black;
    text-decoration-line: none;
}

a:hover{
    font-weight: bold;
    text-decoration:underline 0.25rem;
    color: #FDC921;
}

#banner{
    text-align: center;
    margin-bottom: 5rem;
}

#categorias{
    text-align: center;
}

#categorias article{
    display: inline;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

h1{
    margin: 1rem;
    text-align: center;
}

#novedades{
    text-align: center;
}

#novedades article{
    display: inline;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

#novedades article p{
    display: inline;
}

.cotizacion{
    text-align: center;
    margin: 5rem;
}

.cotizacion_btn{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;

}

.cotizacion article{
    display: inline;
    padding: 2rem;
}

footer{
    display: inline-block;
    width: 100%;
    background-color: #99D6EA;
    border-top: solid 2px black;
    padding: 10px;
}

.footer_menu{
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;
    width: 33%;
    height: 150px;
    text-align: center;

}

.mapa{
    text-align: center;
    display: inline;
    position: absolute;
    width: 67%;
    height: auto;
    font-weight: bold;
}


.footer_newsletter{
    text-align: center;
    font-weight: bold;
}

.derechos{
    text-align: center;
    font-weight: bold;
}


.redes{
    text-align: right;
}

/* Catalogo */

#catalogo{
    text-align: center;
}

#catalogo article{
    width: 350px;
    height: 340px;
    display: inline-block;
    padding: 1%;
    text-align: center;
}

/* Clientes */

.clientes{
    width: 100%;
    height: auto;
    text-align: center;
}

.clientes article{
    width: 100%;
    height: auto;
}


.clientes article div{
    display: inline-block;
    width: 600px;
    height: 600px;
    align-items: center;
    position: relative;
}

.clientes article div img{
    width: 100%;
    height: 100%;
}

.clientes article div p{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20%;
    font-size: 2.5rem;
}

/* Contacto */

.formulario{
    text-align: center;
    font-size: 2.5rem;
    margin: 50px;
}

.formulario input{
    font-size: 2rem;
    padding: 2px;
    margin: 6px;
}

.formulario select{
    font-size: 2rem;
    padding: 2px;
    margin: 6px;
}