ESTILOS GENERALES

html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    /* background-color: #FFFDF7; */
    background-image: linear-gradient(#FFFDF7, #fce8ae);
    font-family:'Times New Roman', Times, serif;
    font-size: 1.8rem;
    
}

h1{
    margin: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 3.5rem;
}

/* ENCABEZADO (Start) */

header{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto);
    gap: 0px 0px;
    grid-template-areas:
    "notificaciones"
    "navbar";
}

.notificaciones{
    grid-area: notificaciones;
    background-color: #99D6EA;
    text-align: center;
    font-weight: bold;
    padding: 4px;

}

.notificaciones p{
    animation-name:atenuar;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-delay: 0s;
}

@keyframes atenuar{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.logo{
    grid-area: logo;
    justify-self: center;
}

.logo img{
    height: 150px;
    width: 150px;  
}

/* Tablet RD - Header */

@media screen and (max-width: 768px){
    header{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, auto);
        gap: 0px 0px;
        grid-template-areas:
        "notificaciones"
        "navbar";
    }
    .navbar-brand img{
        height: 150px;
        width: 150px;  
    }
}

/* Celular RD - Header */

@media screen and (max-width: 480px){
    header{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, auto);
        gap: 0px 0px;
        grid-template-areas:
        "notificaciones"
        "navbar";
    }

    .navbar-brand img{
        height: 100px;
        width: 100px;  
    }
}

/* ENCABEZADO > MENU  */

/* .menu{
    grid-area: menu;
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: relative;
    z-index: 1000;
}

.menu_ul{
    list-style:none;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 2.5rem;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.menu_ul li{
    display: inline-block;
    padding: 0.8rem 1.2rem;
    position: relative;
}

.submenu_ul{
    position: absolute;
    display: none;
    width: 15rem;
    top: 3rem;
}

.submenu_ul li{
    display: block;
    background-color: #FFFDF7;
}

.menu_ul li:hover .submenu_ul{
    display: block;
} */

/* Estilos menu bootstrap */

.container-fluid{

}

.navbar{
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    grid-area: navbar;
    align-items: center;
}

.dropdown-menu{
    color: black;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.d-flex button{
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
.d-flex input{
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.navbar-toggler-icon{
    font-size: 2rem;;
}


/* ESTILOS LINKS */

a{
    color: black;
    text-decoration-line: none;
    transition: font-size 1s;
}

a:hover{
    font-weight: bold;
    font-size: 2.5rem;
    text-decoration:underline 0.25rem;
    color: #FDC921;
}

a:visited{
    
}

/* ENCABEZADO (End) */


/* MAIN INDEX (Start) */

.mainindex{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, auto);
    gap: 0px 0px;
    grid-template-areas:
    "banner"
    "categorias"
    "novedades_titulo"
    "novedades"
    "cotizacion";
}

.banner{
    grid-area: banner;
    text-align: center;
}

.banner img{
    width: 90%;
    height: 90%;
}

.categorias{
    grid-area: categorias;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.categorias img{
    transition: all 2s;
}

.categorias img:hover{
    transform: scale(1.3,1.3);
}

.novedades_titulo{
    grid-area: novedades_titulo;
}


.novedades{
    grid-area: novedades;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.novedades img{
    transition: all 2s;
}

.novedades img:hover{
    transform: scale(1.3,1.3);
}

.cotizacion{
    grid-area: cotizacion;
    text-align: center;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.cotizacion_btn{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    font-weight: bold;
}


/* FOOTER */

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 0px 0px;
    grid-template-areas:
    "footer_menu mapa footer_newsletter"
    "derechos derechos derechos";
    border-top: solid 2px black;
    background-color: #99D6EA;
    padding: 10px;
}

.footer_menu{
    grid-area: footer_menu;
    font-size: 1.8rem;
    font-weight: bold;
    width: 100%;
    height: auto;
    text-align: center;
}

.mapa{
    grid-area: mapa;
    font-weight: bold;
    text-align: center;
}

.footer_newsletter{
    grid-area: footer_newsletter;
    font-weight: bold;
    text-align: center;
}

.derechos{
    grid-area: derechos;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr;
    gap: 0px 0px;
    grid-template-areas: 
    "derechos_texto redes";
}

.derechos_texto{
    grid-area: derechos_texto;
    text-align: center;
    font-weight: bold;
}

.redes{
    grid-area: redes;
    text-align: center;
}


/* Tablet RD - Footer */
@media screen and (max-width: 768px){
    footer{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3, auto);
        gap: 0px 0px;
        grid-template-areas:
        "footer_menu mapa"
        "footer_newsletter footer_newsletter"
        "derechos derechos";
        border-top: solid 2px black;
        background-color: #99D6EA;
        padding: 10px;
    }

}

/* Celular RD - Footer */
@media screen and (max-width: 468px){
    footer{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
        gap: 0px 0px;
        grid-template-areas:
        "footer_menu"
        "mapa"
        "footer_newsletter"
        "derechos";
        border-top: solid 2px black;
        background-color: #99D6EA;
        padding: 10px;
    }

}


/* PAGINA CATALOGO */

.maincatalogo{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(3, auto);
    gap: 0px 0px;
    grid-template-areas: 
    "catalogo_titulo catalogo_titulo"
    "filtros productos"
    "cotizacion cotizacion";
}

.catalogo_titulo{
    grid-area: catalogo_titulo;
}

.filtros{
    grid-area: filtros;
}

.productos{
    grid-area: productos;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.productos article{
    width: 350px;
    height: 340px;
    padding: 1%;
    text-align: center;
}

.productos iframe{
    transition: all 2s;
}

.productos iframe:hover{
    transform: scale(1.2,1.2);
}

.filtros{
    list-style:none;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 2.5rem;
}

.filtros li{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Tablet RD - Pagina catalogo */

@media screen and (max-width: 768px){
    .maincatalogo{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,auto);
        gap: 0px 0px;
        grid-template-areas: 
        "catalogo_titulo"
        "filtros"
        "productos"
        "cotizacion";
    }
    
    .filtros{
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}

/* Celular RD - Pagina catalogo */

@media screen and (max-width: 468px){
    .maincatalogo{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,auto);
        gap: 0px 0px;
        grid-template-areas: 
        "catalogo_titulo"
        "filtros"
        "productos"
        "cotizacion";
    }
    
    .filtros{
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* PAGINA CLIENTES */

.mainclientes{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    gap: 0px 0px;
    grid-template-areas: 
    "clientes_titulo"
    "cliente"
    "cotizacion"
}

.cliente{
    grid-area: cliente;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cliente article{
    height: auto;
    width: 350px;
    text-align: center;
}


.cliente article div img{
    width: 100%;
    height: 340px;
    padding: 1%;
    text-align: center;
}


/* PAGINA NOSOTROS */

.main-nosotros{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    gap: 0px 0px;
    grid-template-areas:
    "nosotros-titulo"
    "video"
    "taller"
    "cotizacion";
}

.nosotros-titulo{
    grid-area: nosotros-titulo;
}

.video{
    grid-area: video;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.video article{
    width: 500px;
    text-align: center;
}

.taller{
    grid-area: taller;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.taller article{
    width: 500px;
    text-align: center;
}

.taller article div img{
    width: 400px;
    height: auto;
}



/* PAGINA CONTACTO */

.maincontacto{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-template-areas:
    "formulario-titulo"
    "formulario";
}

.formulario-titulo{
    grid-area: formulario-titulo;
}

.formulario{
    grid-area: formulario;
    text-align: center;
    font-size: 2.5rem;
    margin: 5%;
}

.formulario input{
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px black;
    width: 300px;
}

.formulario select{
    font-size: 2.5rem;
    margin: 10px;
    border: solid 1px black;
}

.formulario textarea{
    margin: 10px;
    border: solid 1px black;
    width: 50%;
}



/* Tablet RD - Pagina contacto */

@media screen and (max-width: 768px){
    .formulario{
        font-size: 2.5rem;
    }
    .formulario textarea{
        width: 70%;
    }
}

/* Celular RD - Pagina contacto */

@media screen and (max-width: 320px){
    .formulario{
        margin: 10px;
    }
    .formulario input{
        width: 98%;
    }
    .formulario textarea{
        width: 98%;
    }
    .formulario label{
        font-size: 2.5rem;
    }
}

