.maincatalogo {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  gap: 0px 0px;
  grid-template-areas: "catalogo_titulo" "productos" "cotizacion"; }

.catalogo_titulo {
  grid-area: catalogo_titulo; }

.productos {
  grid-area: productos;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center; }
  .productos article img {
    width: 350px;
    height: 340px;
    padding: 1%;
    text-align: center; }
  .productos iframe {
    transition: all 2s; }
    .productos iframe:hover {
      transform: scale(1.2, 1.2); }

.filtros {
  list-style: none;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 2.5rem; }
  .filtros li {
    margin-top: 10px;
    margin-bottom: 10px; }

/* Tablet RD - Pagina catalogo */
@media screen and (max-width: 768px) {
  .maincatalogo {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    gap: 0px 0px;
    grid-template-areas: "catalogo_titulo" "filtros" "productos" "cotizacion"; }
  .filtros {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; } }

/* Celular RD - Pagina catalogo */
@media screen and (max-width: 468px) {
  .maincatalogo {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    gap: 0px 0px;
    grid-template-areas: "catalogo_titulo" "filtros" "productos" "cotizacion"; }
  .filtros {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; } }

.mainclientes {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  gap: 0px 0px;
  grid-template-areas: "clientes_titulo" "cliente" "cotizacion"; }

.cliente {
  grid-area: cliente;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  .cliente article {
    height: auto;
    width: 350px;
    text-align: center; }
    .cliente article div img {
      width: 100%;
      height: 340px;
      padding: 1%;
      text-align: center; }

.maincontacto {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-template-areas: "formulario-titulo" "formulario"; }

.formulario-titulo {
  grid-area: formulario-titulo; }

.formulario {
  grid-area: formulario;
  text-align: center;
  font-size: 2.5rem;
  margin: 5%; }
  .formulario input {
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px black;
    width: 300px; }
  .formulario select {
    font-size: 2.5rem;
    margin: 10px;
    border: solid 1px black; }
  .formulario textarea {
    margin: 10px;
    border: solid 1px black;
    width: 50%; }

.input, .btn_enviar, .btn_reestablecer {
  border: solid 1px black; }

.btn_enviar:hover, .btn_reestablecer:hover {
  background-color: #e0caa7;
  text-decoration: underline 0.25rem; }

/* Tablet RD - Pagina contacto */
@media screen and (max-width: 768px) {
  .formulario {
    font-size: 2.5rem; }
    .formulario textarea {
      width: 70%; } }

/* Celular RD - Pagina contacto */
@media screen and (max-width: 320px) {
  .formulario {
    margin: 10px; }
    .formulario input {
      width: 98%; }
    .formulario textarea {
      width: 98%; }
    .formulario label {
      font-size: 2.5rem; } }

.main-nosotros {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, auto);
  gap: 0px 0px;
  grid-template-areas: "nosotros-titulo" "video" "taller" "cotizacion"; }

.nosotros-titulo {
  grid-area: nosotros-titulo; }

.video {
  grid-area: video;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  .video article {
    width: 500px;
    text-align: center; }

.taller {
  grid-area: taller;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center; }
  .taller article {
    width: 500px;
    text-align: center; }
    .taller article div img {
      width: 300px;
      height: auto;
      overflow: hidden; }

html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #FFFFFF;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.8rem;
  color: #555555; }

h1, h2 {
  text-align: center;
  font-weight: bold;
  font-size: 3rem; }

ul li {
  list-style: none; }

.container-fluid {
  text-align: center; }

a, .navbar-nav li a {
  color: #555555;
  text-decoration-line: none;
  transition: font-size 0.5s; }
  a:hover, .navbar-nav li a:hover {
    font-weight: bold;
    font-size: 2.2rem;
    text-decoration: underline 0.25rem;
    color: #555555; }

/* ENCABEZADO (Start) */
header {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-template-areas: "notificaciones" "menu"; }

.notificaciones {
  grid-area: notificaciones;
  background-color: #c7e3ef;
  text-align: center;
  font-weight: bold;
  padding-top: 2px;
  font-size: 2rem; }
  .notificaciones p {
    animation-name: atenuar;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-delay: 0s; }

@keyframes atenuar {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* ENCABEZADO > MENU  */
.navbar-brand img {
  height: 120px;
  width: 120px;
  border-radius: 65px; }

.navbar {
  font-size: 2.2rem;
  grid-area: menu;
  z-index: 100;
  text-align: center;
  background-image: url(../multimedia/fondo-banner.png); }
  .navbar a:hover {
    font-size: 2.7rem; }

.dropdown-menu {
  font-size: 2rem; }

.d-flex input {
  font-size: 2.2rem; }

.d-flex button {
  font-size: 2.2rem;
  background-color: #929292;
  color: #FFFFFF;
  border: none; }
  .d-flex button:hover {
    background-color: #e0caa7;
    color: #555555; }

.navbar-toggler-icon {
  font-size: 2.2rem; }

/* ENCABEZADO (End) */
/* MAIN INDEX (Start) */
.mainindex {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, auto);
  gap: 0px 0px;
  grid-template-areas: "carousel" "categorias" "novedades_titulo" "novedades" "iconos" "botones_index" "cotizacion"; }

.carousel {
  grid-area: carousel;
  text-align: center;
  border-top: solid 0.01px #555555;
  border-bottom: solid 0.01px #555555;
  color: #555555; }

.carousel-control-prev span, .carousel-control-next span {
  background-color: #555555;
  font-size: 2.2rem;
  width: 30px;
  height: 30px; }

.carousel-item img {
  padding-left: 3%;
  padding-right: 3%; }

.categorias {
  grid-area: categorias;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px; }
  .categorias article h1, .categorias article h2 {
    margin-top: 10px;
    margin-bottom: 15px; }
  .categorias article img {
    transition: all 0.5s;
    width: auto;
    height: 400px;
    border-radius: 20px; }
    .categorias article img:hover {
      transform: scale(1.05, 1.05); }

.novedades_titulo {
  grid-area: novedades_titulo;
  margin-top: 10px;
  margin-bottom: 15px; }

.novedades {
  grid-area: novedades;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  color: #FFFFFF; }
  .novedades article {
    padding: 3px; }
  .novedades img {
    transition: all 0.5s;
    width: auto;
    height: 200px;
    border-radius: 50px; }
    .novedades img:hover {
      transform: scale(1.05, 1.05); }

.iconos {
  grid-area: iconos;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 70px; }
  .iconos article {
    width: 200px;
    height: 250px;
    text-align: center;
    background-color: #c7e3ef;
    border-radius: 50px; }
    .iconos article div img {
      border-radius: 50px;
      width: auto;
      height: 150px;
      transform: translate(0, -50px);
      background-color: #e0caa7;
      padding: 20px; }
    .iconos article p {
      transform: translate(0, -25px);
      padding: 10px;
      color: #555555; }

.cotizacion {
  grid-area: cotizacion;
  background-image: url(../multimedia/fondo-banner.png);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 150px;
  margin-bottom: 20px; }
  .cotizacion article {
    border: solid 1px #555555;
    background-color: #929292;
    padding: 20px;
    text-align: center;
    font-size: 3rem;
    transition: font-size 0.5s;
    transition: background-color 0.5s; }
    .cotizacion article:hover {
      background-color: #e0caa7;
      text-decoration: underline 0.25rem; }
      .cotizacion article:hover a {
        font-weight: normal;
        font-size: 3rem;
        text-decoration: underline 0.25rem;
        color: #555555; }
    .cotizacion article a {
      color: #FFFFFF; }

.botones_index {
  grid-area: botones_index;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }

.cotizacion_btn {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem; }

/* FOOTER */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 0px 0px;
  grid-template-areas: "footer_menu mapa footer_newsletter" "derechos derechos derechos";
  background-color: #c7e3ef;
  padding: 10px; }

.footer_menu {
  grid-area: footer_menu;
  font-weight: bold;
  width: 100%;
  height: auto;
  text-align: center; }

.mapa {
  grid-area: mapa;
  font-weight: bold;
  text-align: center; }

.footer_newsletter {
  grid-area: footer_newsletter;
  font-weight: bold;
  text-align: center; }

.derechos {
  grid-area: derechos;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas: "derechos_texto redes"; }

.derechos_texto {
  grid-area: derechos_texto;
  text-align: center;
  font-weight: bold; }

.redes {
  grid-area: redes;
  text-align: center; }

@media screen and (max-width: 1024px) {
  .categorias article img {
    height: auto;
    width: 300px; }
  .novedades article {
    padding-left: 50px;
    padding-right: 50px; }
  .iconos article {
    margin-top: 60px;
    width: 150px;
    height: 250px; }
    .iconos article div img {
      width: auto;
      height: 120px; } }

@media screen and (max-width: 768px) {
  .categorias article {
    width: 220px; }
    .categorias article h1, .categorias article h2 {
      width: 100%; }
    .categorias article img {
      width: 220px;
      height: 220px; }
  .novedades {
    padding: 1px; }
    .novedades article {
      padding: 1px; }
  .iconos-nomostrar {
    display: none; }
  footer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, auto);
    gap: 0px 0px;
    grid-template-areas: "footer_menu mapa" "footer_newsletter footer_newsletter" "derechos derechos";
    background-color: #c7e3ef;
    padding: 10px; } }

@media screen and (max-width: 320px) {
  header {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25px auto;
    gap: 0px 0px;
    grid-template-areas: "notificaciones" "menu"; }
  .navbar-brand img {
    height: 100px;
    width: 100px; }
  .notificaciones {
    font-size: 1.4rem; }
  .categorias article {
    width: 300px; }
    .categorias article img {
      width: 300px;
      height: 300px; }
  .novedades img {
    width: auto;
    height: 150px; }
  .iconos {
    border-top: 10px;
    padding: 5px; }
    .iconos article {
      width: 150px; }
  .cotizacion article {
    font-size: 2rem; }
  footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    gap: 0px 0px;
    grid-template-areas: "footer_menu" "mapa" "footer_newsletter" "derechos";
    background-color: #c7e3ef;
    padding: 10px; } }
